<%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"} %>

<p><strong>How do I extract and show username from OmniAuth Facebook login in my view?</strong></p>

<h1>List of Users that I am following</h1>
<ol>
  <% @users.each do |user| %>
    <li><%= user.username %></li>
    <%= render partial: "users/partials/follow_form", locals: {user: user} %>
  <% end %>
</ol>

<h1>List of Notes of Users that I am following</h1>
<%= link_to "Create Note", new_note_path %>
<ul>
  <% @feed_notes.each do |note| %>
    <li><%= link_to note.title, note_path(note) %> by <%= note.user.username %></li>
    <%= note.body %>
  <% end %>
</ul>
