<h1>INDEX page for User</h1>


<h1>List of Users</h1>
<ol>
  <%= @users.each do |user| %>
    <li><%= link_to user.email, user_path(user) %></li>
  <% end %>
</ol>


<h1>List of Notes of Users</h1>
<ul>
  <%= @users.each do |user| %>
  <li>"NOTE TITLE" by <%= link_to user.email, user_path(user) %></li>
  <li>"Note Body"</li>
  <% end %>
</ul>


<%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"} %>




<!-- <%= link_to "Back", authenticated_user_homepage_path %>
<%# link_to "Create Note", new_note_path %>
<%# link_to "Edit Note", edit_note_path(@note) %>
<%# link_to "Show Note", note_path(@note) %>
<%# link_to "Destory Note", note_path(@note), method: :delete, data: {confirm: "Are you sure?"} %> -->
